version: "3"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    restart: unless-stopped
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "OcP2020123"
      MSSQL_PID: "Developer"
    volumes:
      - sqlserver_data:/var/opt/mssql
      - ./init:/init
    command: >
      /bin/bash -c "
      /opt/mssql/bin/sqlservr &
      echo 'Aguardando SQL Server iniciar...';
      sleep 20;
      /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'S@SenhaForte123' -C -i /init/init.sql;
      wait
      "

volumes:
  sqlserver_data:
